{% extends "base_generic.html" %}

{% block content %}
<div class="d-flex px-0 flex-column flex-md-row" id="the-parent">
    <div class="col-12 col-md-5 px-0 d-flex flex-column">
        <div class="frame flex-grow-1 d-flex align-items-center justify-content-center" id="banner">
            <h1>Abolitionist library</h1>
            <a href="https://linktr.ee/transformtranscendberlin" id="header-logo" class="frame-tr" target="_blank" rel="noopener">
                <img src="../static/images/transformtranscend.png" title="brought to you by transform transcend berlin">
            </a>
        </div>
        <div class="frame-lrb" id="introduction">
            <p>These books are scattered across Berlin, waiting on bookshelves, backpacks, and bedside tables for you to pick them up and read them.</p>
            <p>Is there an abolitionist book you want to read but haven't found here? Would you like to register books to be part of our floating library?</p>
            <p class="mb-0">Get in touch with us via instagram or <a href="mailto:transformtranscend@protonmail.com">email</a>!</p>
        </div>
    </div>
    <div class="col-md-7 d-md-flex flex-column px-0">
        <div class="d-md-flex flex-nowrap flex-md-grow-1">
            {% for book in books %}
            <a href="{{ book.get_absolute_url }}" class="book-spine frame col-12 col-md-3 px-0" style="background-color: {{ book.colour }};">
                <h3 class="title">{{book.title}}</h3>
                <p class="author">{{book.author}}</p>
            </a>
            {% endfor %}
        </div>
        <div class="d-flex">
            <div class="frame-b col-2 col-md-1 px-0">
                <a href="https://www.instagram.com/transformtranscendberlin/" id="instagram" rel="noopener" target="_blank">
                    <div title="follow us on instagram @transformtranscendberlin"></div>
                </a>
            </div>
            <a href="{% url 'books' %}" class="frame-lrb col-10 col-md-11 d-flex align-items-center justify-content-center" id="catalog">
                <p>Discover the rest of our catalogue</p>
            </a>
            <!-- TODO: mailto: transformtranscend  protonmail -->
        </div>
    </div>
</div>
{% endblock %}
