@font-face {
    font-family: 'Adys';
    src: local('ADYS'), url('../fonts/ADYS-Regular-V5-4.ttf') format("truetype");
}

body {
    font-family: 'Adys';
}

/* the top level parent div for a template */
#the-parent {
    height: 100vh;
}

.frame {
    border: 0.5em solid #000;
}
.frame-lrb {
    border-left: 0.5em solid #000;
    border-right: 0.5em solid #000;
    border-bottom: 0.5em solid #000;
}
.frame-b {
    border-bottom: 0.5em solid #000;
}
.frame-tr {
    border-top: 0.5em solid #000;
    border-right: 0.5em solid #000;
}
.frame-rb {
    border-right: 0.5em solid #000;
    border-bottom: 0.5em solid #000;
}

#banner {
    position: relative;
}

#header-logo {
    position: absolute;
    bottom: 0;
    left: 0;
}

#header-logo:hover {
    background-color: #E9ABCE;
}

#header-logo > img {
    width: 9em;
}

#introduction {
    padding: 0.6em;
    font-size: 1.1em;
}

/* books */

.book-spine {
    position: relative;
    display: block;
    color: #000;
}

.book-spine:hover {
    background-color: plum !important;
    color: #000;
}

/* bootstrap md width */
@media (min-width: 768px) {
    .book-spine > .title {
        transform: rotate(-90deg);
        transform-origin: bottom left;
        position: absolute;
        bottom: 0.3em;
        left: 3em;
        width: 80vh;
        font-weight: bold;
    }

    .book-spine > .author {
        /* position */
        transform: rotate(-90deg);
        transform-origin: bottom left;
        position: absolute;
        bottom: 0;
        left: 7em;
        width: 80vh;
        /* misc */
        font-size: 1.25em;
    }
}

/* links */

a#catalog {
    color: #000;
    text-decoration: none;
}

#catalog > p {
    font-size: 2em;
    margin: 0 0;
    line-height: 2.2em;
}

#catalog:hover {
    background-color: plum;
}

a#instagram {
    text-decoration: none;
    color: #000;
}

#instagram > div {
    height: 100%;
    padding: 8px;
    background-image: url("../images/instagram/bw.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#instagram > div:hover {
    background-image: url("../images/instagram/colour.png");
    background-color: #000;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}